html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
// font-size:100%;
vertical-align:baseline;
background:transparent;
}

body {
line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}

nav, ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0;
// font-size:100%;
vertical-align:baseline;
background:transparent;
text-decoration: none;
}

/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
}

/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}

// end reset CSS

* {
    font-size: 62.5%;
}

.copyright {
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem 0 2rem;
  color: rgb(217, 219, 221);
}
// common class
.navigation{
  background-color: rgb(249, 249, 249);
  padding: 3rem 2rem 3rem 0;
  ul {
    display: flex;
    justify-content: end;
    li {
      a {
        font-size: 1.6rem;
        padding: 1rem;
        color: rgb(142, 152, 164);
      }
    }
  }
}

// header
#home {
  height: 70vh;
}
.home-container {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
  height: 50vh;
  .home-inner{
    margin-top: 10rem;
  }
  #title {
    font-size: 7rem;
    font-family: 'Shantell Sans', cursive;
    color: rgb(73, 74, 76);
  }
  .mini-title {
    font-family: 'Mynerve', cursive;
    font-size: 3rem;
    color: rgb(106, 109, 113);
  }
  .home-icon {
    a {
      font-size: 2rem;
      color: rgb(73, 74, 76);
      &:first-child {
        margin-right: 2rem;
      }
    }
  }
}

// home

#Projects {
  margin-bottom: 5rem;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  row-gap: 2rem;
  .projects-title {
    grid-column: 1 / 4;
    font-family: 'Mynerve', cursive;
    font-size: 3rem;
    color: rgb(106, 109, 113);
  }
  a {
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
  }
}

// projects
#skills {
  h2 {
    font-family: "Mynerve", cursive;
    font-size: 3rem;
    color: rgb(106, 109, 113);
    text-align: center;
  }
}

.skills-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  .soft-skills {
    width: 40vw;
    .acd-check {
      display: none;
      &:checked {
        + .acd-label + .acd-content {
          height: 7rem;
          opacity: 1;
          padding: 1rem;
          visibility: visible;
        }
      }
    }
    .acd-label {
      background-color: rgb(106, 109, 113);
      color: rgb(257, 257, 257);
      display: block;
      margin-bottom: 0.1rem;
      padding: 1rem;
      font-size: 1.8rem;
    }
    .acd-content {
      border: 1px solid rgb(106, 109, 113);
      height: 0;
      opacity: 0;
      padding: 0 1rem;
      transition: .5s;
      visibility: hidden;
      P {
        font-size: 1.4rem;
        color: rgb(106, 109, 113)
      }
    }
  }
  .hard-skills {
    width: 40vw;
    display: grid;
    grid-template: repeat(1, 1fr)/repeat(6, 1fr);
    grid-template-areas:
        "item1 item1 item2 item2 item3 item3"
        "item4 item4 item4 item5 item5 item5";
    row-gap: 2rem;
    .HS-grid-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      .my-style {
        font-size: 5rem;
        color: rgb(106, 109, 113);
      }
      P {
        text-align: center;
        font-size: 1.4rem;
        padding: 0.5rem 0;
        color: rgb(106, 109, 113);
      }
    }
    .HS-grid-item1 {
      grid-area: item1;
    }
    .HS-grid-item2 {
      grid-area: item2;
    }
    .HS-grid-item3 {
      grid-area: item3;
    }
    .HS-grid-item4 {
      grid-area: item4;
    }
    .HS-grid-item5 {
      grid-area: item5;
    }
  }
}
// skills

.about-container {
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;

  .profile {
    width: 30vw;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 5rem;
  }
  .about-detail {
    width: 40vw;
    margin: 0 auto;
    font-size: 1.6rem;
  }
}
// about

.contact-container {
  display: flex;
  justify-content: space-between;
  margin: 5rem 2rem;
  form {
    width: 30vw;
    margin: 0 auto;
    margin-right: 2rem;
    .contact-items {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 1rem auto;
      .label {
        font-size: 1.6rem;
        padding-bottom: 1rem;
        color:  rgb(106, 109, 113);
      }
    }
    .submit-btn {
      margin: 3rem auto 0;
      input {
        border-radius: 1rem;
        border: none;
        font-size: 1.5rem;
        padding: 1rem 2rem;
        margin-top: 2rem;
        letter-spacing: .1rem;
        background: rgb(138, 140, 143 );
        color: rgb(255,255,255);
      }
    }
  }
  .contact-options {
    margin: 5rem auto 0;
    width: 33vw;
    p {
      font-size: 1.6rem;
      width: 100%;
      margin-bottom: 5rem;
      text-align: center;
      line-height: 1.5;
    }
    ul {
      display: flex;
      justify-content: space-evenly;
      li {
        a {
          font-size: 2rem;
          color: rgb(73, 74, 76);

        }
      }
    }
  }
}
// contact