html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
// font-size:100%;
vertical-align:baseline;
background:transparent;
}

body {
line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}

nav, ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0;
// font-size:100%;
vertical-align:baseline;
background:transparent;
text-decoration: none;
}

/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}

/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}

del {
text-decoration: line-through;
}

abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}

table {
border-collapse:collapse;
border-spacing:0;
}

/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}

// end reset CSS

* {
    font-size: 62.5%;
}
// common class
.navigation{
  background-color: rgb(249, 249, 249);
  padding: 3rem 2rem 3rem 0;
  ul {
    display: flex;
    justify-content: end;
    li {
      a {
        font-size: 1.6rem;
        padding: 1rem;
        color: rgb(142, 152, 164);
      }
    }
  }
}

// header

.home-container {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
  height: 50vh;
  .home-inner{
    margin-top: 10rem;
  }
  #title {
    font-size: 7rem;
    font-family: 'Shantell Sans', 'cursive';
    color: rgb(73, 74, 76);
  }
  .mini-title {
    font-family: 'Mynerve', 'cursive';
    font-size: 3rem;
    color: rgb(106, 109, 113);
  }
  .home-icon {
    a {
      font-size: 2rem;
      color: rgb(73, 74, 76);
      &:first-child {
        margin-right: 2rem;
      }
    }
  }
}

// home
.contact-container {
  display: flex;
  justify-content: space-between;
  margin: 5rem 2rem;
  form {
    width: 30vw;
    margin: 0 auto;
    margin-right: 2rem;
    .contact-items {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 1rem auto;
      .label {
        font-size: 1.6rem;
        padding-bottom: 1rem;
        color:  rgb(106, 109, 113);
      }
    }
    .submit-btn {
      margin: 3rem auto 0;
      input {
        border-radius: 1rem;
        border: none;
        font-size: 1.5rem;
        padding: 1rem 2rem;
        margin-top: 2rem;
        letter-spacing: .1rem;
        background: rgb(138, 140, 143 );
        color: rgb(255,255,255);
      }
    }
  }
  .contact-options {
    margin: 5rem auto 0;
    width: 33vw;
    p {
      font-size: 1.6rem;
      width: 100%;
      margin-bottom: 5rem;
      text-align: center;
      line-height: 1.5;
    }
    ul {
      display: flex;
      justify-content: space-evenly;
      li {
        a {
          font-size: 2rem;
          color: rgb(73, 74, 76);

        }
      }
    }
  }
}
// contact