html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  font-size: 62.5%;
}

.copyright {
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem 0 2rem;
  color: rgb(217, 219, 221);
}

.navigation {
  background-color: rgb(249, 249, 249);
  padding: 3rem 2rem 3rem 0;
}
.navigation ul {
  display: flex;
  justify-content: end;
}
.navigation ul li a {
  font-size: 1.6rem;
  padding: 1rem;
  color: rgb(142, 152, 164);
}

#home {
  height: 70vh;
}

.home-container {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
  height: 50vh;
}
.home-container .home-inner {
  margin-top: 10rem;
}
.home-container #title {
  font-size: 7rem;
  font-family: "Shantell Sans", cursive;
  color: rgb(73, 74, 76);
}
.home-container .mini-title {
  font-family: "Mynerve", cursive;
  font-size: 3rem;
  color: rgb(106, 109, 113);
}
.home-container .home-icon a {
  font-size: 2rem;
  color: rgb(73, 74, 76);
}
.home-container .home-icon a:first-child {
  margin-right: 2rem;
}

#Projects {
  margin-bottom: 5rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  row-gap: 2rem;
}
.projects-grid .projects-title {
  grid-column: 1/4;
  font-family: "Mynerve", cursive;
  font-size: 3rem;
  color: rgb(106, 109, 113);
}
.projects-grid a img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.skills-container {
  display: flex;
  justify-content: space-around;
}
.skills-container .soft-skills {
  width: 40vw;
}
.skills-container .hard-skills {
  width: 40vw;
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(6, 1fr);
  grid-template-areas: "item1 item1 item2 item2 item3 item3" "item4 item4 item4 item5 item5 item5";
  row-gap: 2rem;
}
.skills-container .hard-skills .HS-grid-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-container .hard-skills .HS-grid-items .my-style {
  font-size: 5rem;
  color: rgb(106, 109, 113);
}
.skills-container .hard-skills .HS-grid-items P {
  text-align: center;
  font-size: 1.4rem;
  padding: 0.5rem 0;
  color: rgb(106, 109, 113);
}
.skills-container .hard-skills .HS-grid-item1 {
  grid-area: item1;
}
.skills-container .hard-skills .HS-grid-item2 {
  grid-area: item2;
}
.skills-container .hard-skills .HS-grid-item3 {
  grid-area: item3;
}
.skills-container .hard-skills .HS-grid-item4 {
  grid-area: item4;
}
.skills-container .hard-skills .HS-grid-item5 {
  grid-area: item5;
}

.about-container {
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
}
.about-container .profile {
  width: 30vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-left: 5rem;
}
.about-container .about-detail {
  width: 40vw;
  margin: 0 auto;
  font-size: 1.6rem;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  margin: 5rem 2rem;
}
.contact-container form {
  width: 30vw;
  margin: 0 auto;
  margin-right: 2rem;
}
.contact-container form .contact-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem auto;
}
.contact-container form .contact-items .label {
  font-size: 1.6rem;
  padding-bottom: 1rem;
  color: rgb(106, 109, 113);
}
.contact-container form .submit-btn {
  margin: 3rem auto 0;
}
.contact-container form .submit-btn input {
  border-radius: 1rem;
  border: none;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  background: rgb(138, 140, 143);
  color: rgb(255, 255, 255);
}
.contact-container .contact-options {
  margin: 5rem auto 0;
  width: 33vw;
}
.contact-container .contact-options p {
  font-size: 1.6rem;
  width: 100%;
  margin-bottom: 5rem;
  text-align: center;
  line-height: 1.5;
}
.contact-container .contact-options ul {
  display: flex;
  justify-content: space-evenly;
}
.contact-container .contact-options ul li a {
  font-size: 2rem;
  color: rgb(73, 74, 76);
}/*# sourceMappingURL=style.css.map */